body {
  background-color: #FBFBFB;
  padding: 50px 0;
}

.navibar {
  margin-bottom: 50px;
}

h2 {
  font-family: TT Firs Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 75%;

  letter-spacing: -0.04em;

  color: #000000;
}

h2.margin-bottom {
  margin-bottom: 20px
}

button.navbtn {
  background: linear-gradient(140.74deg, #FFFFFF 1.13%, #FBFBFB 115.26%);
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.06);
  border-radius: 42px;
  border: 0;
  padding: 8px 47px;
  margin-right: 10px;
}

.navbtn.last {
  margin-right: 0;
}

.navbuttons {
  display: flex;
  justify-content: flex-end;
}
